.promptCard {
display: flex;
flex-direction: column;
border-radius: 0.5rem;
background-color: var(--darkLightdark);
margin: 0 0 var(--xs) 0 ;
}


.promptCard > * {
    margin: 0.8rem var(--sm);
    transition: all ease-in-out 0.3s;
}
.promptCard p {
    margin: 0.25rem var(--sm) var(--xs) var(--sm);
 }

.button {
    font: inherit;
    padding: 0.5rem var(--sm);
    border: none;
    width: max-content;
    background-color: var(--textInactive);
    border-radius: var(--sm);
    cursor: pointer;
    transition: all 100ms ease-in-out; 
}

.button:hover {
    background-color: var(--darkLightdark);
    outline: 2px solid var(--text);
    color: var(--text);
}



