.homepage {
  flex-direction: column;
  display: flex;
  max-width: 71vw;
  max-height: 85vh;
  min-height: 85vh;
  min-width: 71vw;
  border-radius: var(--xs) var(--xs) 0 0;
  margin: var(--xs);
  margin-bottom: 0;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: var(--darkLightdark);
}
.homepage::-webkit-scrollbar-thumb,
.homepage::-webkit-scrollbar-track,
.homepage::-webkit-scrollbar {
  width: 10px;
}

.homepage > * {
  margin: var(--xs);
}

.btn {
  font: inherit;
  padding: 0.5rem var(--sm);
  outline: 2px solid var(--textInactive);
  background-color: var(--dark);
  color: var(--textInactive);
  text-decoration: none;
  width: max-content;
  border-radius: var(--sm);
  cursor: pointer;
  transition: all 100ms ease-in-out; 
}

.btn:hover {
  color: var(--text);
  outline-color: var(--text);

}

