.searchPage {
  flex-direction: column;
  max-width: 71vw;
  max-height: 85vh;
  min-height: 85vh;
  min-width: 71vw;
  margin: var(--xs);
  margin-bottom: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--darkLightdark);
}
.searchPage::-webkit-scrollbar-thumb,
.searchPage::-webkit-scrollbar-track,
.searchPage::-webkit-scrollbar {
  width: 10px;
}

.searchPage > * {
  margin:  0.4rem var(--xs) ;
}

.searchHolder {
  display: flex;
  overflow-x: auto;
}

.searchPage .songCard {
  transition: all 450ms ease-in-out;
}
