
/* ------------------------------------------  */
footer {
  height: 11vh;
  display: flex;
  justify-content: space-between;
}

footer > section {
  padding: 0.4rem var(--xs);
}

.songDescription {
  display: flex;
  flex: 0.2;
}
.songModifiers {
  flex: 1;
}
.songControls {
  flex: 0.2;
}
.songPic {
  border-radius: 0.5rem;
}
.songDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: var(--xs);
  flex: 1;
}

.songName,
.songArtist,
.songPic {
  cursor: pointer;
  transform: all ease-in-out 0.3s;
}
.songArtists {
  list-style: none;
  display: flex;
  align-items: center;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
}
.songName {
  margin-bottom: 2px;
  width: fit-content;
}
.songArtist {
  font-weight: normal;
  word-wrap: break-word;
  white-space: nowrap;
  transform: all ease-in-out 0.3s;
}
.comma {
  margin: 0 4px 0 1px;
}

.songArtist:hover,
.songName:hover {
  color: var(--text);
}
.songArtist:hover {
  text-decoration: underline;
}
/* SongDetails */
/* --------------------------------------------------------------------- */
/* SongModifiers */
.songModifiers {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
.modifiers {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}
.modifiers > svg:hover {
  color: var(--text);
}
.modifiers > svg {
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.playicon {
  width: var(--xl);
}

.timeBar {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--xs);

}
.bar {
  flex: 0.8;
  height: 4px;
  border: none;
  border-radius: 5px;
  background-color: var(--textInactive);
  cursor: pointer;
}

.songBar:hover {
  height: 5px;
  background-color: var(--text);
}
.volumeBar:hover {
  height: 5px;
  translate: (1,2);
  background-color: var(--text);
}

.songBar {
  width: 50%;
  border-radius: 5px 0 0 5px ;
  background-color: var(--text);
}
.background {
  background-color: grey;
}




/* SongModifiers */
/* --------------------------------------------------------------------- */
/* SongControls */

.songControls {
  display: flex;
  align-items: center;
  flex: .4;
  justify-content: right;
  gap: 10px;
  min-width: 400px;

}
.songControls > svg {
  width: var(--sm);
  margin: 0;
}
.songControls .bar {
  flex: 0.6;
  max-width: 75px;
  min-width: 40px;
}

.songControls > *:hover {
  color: var(--text);
}


