.table {
  /* border: 1px solid white; */
  color: var(--text);
  background-color: var(--darkLightdark);
  padding-left: 5px;

}

th,
td {
  height: 60px;
}

.headerColumn {
  text-align: left;
}

.trackNumberHeader,
.trackNumber {
  width: 5%;
  text-align: center;
}

.tableRow {
    min-height: 50px;
    
    cursor: pointer;
    outline: 1px rgba(47, 47, 47, .4) solid;
}
.tableRow:hover {
    background: rgba(47, 47, 47, .4);
    outline-color: var(--darkLightdark);
}

.trackDurationHeader,
.trackDuration {
    text-align: right;
    padding-right: var(--xs);
}

.trackTitleHeader {
  width: 40%;
}

.artistNameAttribute {
  color: var(--textInactive);
}

.navLink {
  text-decoration: none;
  cursor: pointer;
}