.albumPage {
  display: flex;
  flex-direction: column;
  background-color: var(--darkLightdark);
  max-width: 71vw;
  max-height: 85vh;
  min-height: 85vh;
  min-width: 71vw;
  margin: var(--xs) var(--xs) 0 var(--xs);
  border-radius: var(--xs) var(--xs) 0 0;
  overflow-y: auto;
}

.albumPage .topNav {
  margin: var(--xs);
}

.albumPage::-webkit-scrollbar-thumb,
.albumPage::-webkit-scrollbar-track,
.albumPage::-webkit-scrollbar {
  width: 10px;
}

.topAlbumPageSection {
  display: flex;
  min-height: 40vh;
  max-height: 40vh;
  margin: 0;
  border-radius: inherit;
  align-items: flex-end;
}

.topAlbumPageSection > * {
  margin: 0 var(--xs);
}

.albumImage {
  width: 200px;
  height: 200px;
  margin-bottom: var(--xs);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rightAlbumPageSection {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: white;
  margin: 0 0 var(--xs) 0;
  justify-content: flex-end;
}

.rightAlbumPageSection > h5 {
  font-size: var(--xs);
}

.albumName {
  font-size: var(--xl);
  margin: var(--xs) 0;
}

.infoLine {
  display: flex;
  align-items: center;
  gap: var(--sm);
  font-size: var(--xs);
}

.bottomAlbumPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: transparent;
}

.controlsAlbumPage {
  background-color: transparent;
  height: 11vh;
  display: flex;
  align-items: center;
  position: relative;
}

.controlsAlbumPage > svg {
  cursor: pointer;
}

.playAlbumIcon {
  height: 90%;
  color: green;
  margin: 0 var(--xs);
  transition: all 200ms ease-in-out;
}
.playAlbumIcon:hover { 
    transform: scale(1.1);
}

.shuffleAlbumIcon,
.ellipsisIcon,
.plusCircleIcon {
    margin: 0 var(--xs);
  width: 45px;
  height: 45px;
  transition: all 200ms ease-in-out;
}

.shuffleAlbumIcon:hover ,
.ellipsisIcon:hover,
.plusCircleIcon:hover {
    transform: scale(1.1);
    color: white;
}

.optionsMenu {
  position: absolute;
 
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 2px 0 0 0;
  min-height: 50px;
  background-color: var(--dark);
  left: 20vw;
  top: 0vh;
  border-radius: 2px;
}

.optionsMenu > button {
  background-color: var(--dark);
  color: var(--textInactive);
  text-align: left;
  padding-left: 5px;
  min-height: 40px;
  border: none;
  border-top: 3px solid var(--darkLightdark);
  /* border-bottom: 3px solid var(--darkLightdark); */
  font-family: inherit;
  font-size: 0.85rem;
  cursor: pointer;
}
.optionsMenu > button:hover {
  color: var(--text);
  background-color: var(--darkLightdark);
  border-top: 3px solid var(--darkLight);
  /* border-bottom: 3px solid var(--darkLight); */
}
